.code-box-demo .ant-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}
.code-box-demo .ant-btn-rtl {
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 8px;
}
.code-box-demo .ant-btn {
  width: 70px;
  text-align: center;
  padding: 0;
}
